Making "Zip" an International Standard?

### Posted by khenkel » Mon Sep 20, 2010 11:39 am
Dear Info-ZIP community,

(Apologies if I'm posting in the wrong thread - but nothing seemed very appropriate.)

I am the chair of a Working Group within the International Standards system (Working Group 1 of [ISO/IEC JTC 1/SC 34](http://www.itscj.ipsj.or.jp/sc34/)) and at a recent meeting in Tokyo my group was charged with gathering requirements for a possible International Standardization effort for "Zip" (see [Resolution 2](http://www.itscj.ipsj.or.jp/sc34/open/1501.htm) from the meeting).

As background, SC 34 is responsible for two International Standard document formats (ODF and OOXML) which make use of the "Zip" format for packaging, and we have close links with other standardization organizations which are in a similar position (e.g. W3C use "Zip" for their widget technology, and IDPF for their EPUB format). Some experts within our committees have expressed concerns about whether "Zip" is adequately documented to be referenced in such Standards, and about whether there are technical and/or IPR matters which need to be addressed. Hence the interest in a possible International Standard. (Some completely informal background to all  this can be found in a [blog post](http://www.adjb.net/post/SC-34-Meetings-in-Tokyo.aspx) I wrote about the meeting).

Info-ZIP is of course a major part of the "Zip" landscape (and some experts believe it underlies the majority of "Zip"-using systems in the wild). So the reason why I'm posting here is to ask if anybody among the Info-ZIP experts is willing to get involved in the upcoming study period. The degree of committment can range from monitoring a mailing list to more active contribution (attending conference calls and/or meetings, preparing documents, etc.) - it is an aspect of International Standardization that it will absorb as much volunteer effort as experts want to give! (though ultimately decision-making is devolved to the National committees which represent countries' opinions).

Any thoughts, comments, advice, etc. welcome!

- Alex.

### Posted by E G » Fri Sep 24, 2010 4:42 pm
Hi Alex,

You're probably right noting that Info-ZIP code has formed the basis of the ZIP support in many of the applications out there.   That was one of the original drives behind developing a free and open zip and unzip and continues to drive us.   However, with the wide use of the ZIP format in many applications and standards, we understand the benefits of somehow standardizing that usage.   We're just not sure what the best approach to that is.

We've been discussing this within the Info-ZIP group and one thing that came up are the RFCs governing other related formats, specifically ZLIB (RFC-1950), DEFLATE (RFC-1951), and GZIP (RFC-1952).   Perhaps that approach to formalizing the ZIP format might be considered also.

I found the following short discussion that seems to note many of the issues referenced here:

http://www.oreillynet.com/xml/blog/2007 ... ndard.html

Back then (in 2007) I remember there were a few issues that created some friction in the ZIP community.   Since then the most notable issues have been settled and there seems quite a bit of cooperation among the different ZIP utility developers nowadays.   One key fact that seemed missed in that article is that ZIP is a living standard and continues to evolve, perhaps needs to if it's to keep up with current and future needs.   For example, better compression algorithms have worked their way into ZIP archives.

Indeed, there seems to have been a steady evolution of the ZIP format as new capabilities are added.   Currently Info-ZIP, for example, is addressing user requests for more portability across locales and better archiving of extended attributes on different systems.   We vet these changes in betas and get user feedback before new features get released.   Any changes or additions we require to the ZIP format are vetted with PKWare and other developers and eventually get represented in updates to the AppNote.   We would be concerned if a standards process prevented us from meeting pending and new user needs.

It's important you have the right players at the table during any standards discussions, including ZIP developers.   As you allude to in your blog, many in the commercial industry are actively involved with ZIP development and get concerned when the main developers are not involved with discussions that may impact them.   The developers, because of their need for interoperability, are really the ones currently pushing standardization, especially as the old ZIP format is continuing to be updated to support modern needs.   Recent areas we've been involved in include UTF-8, specialized support for less known platforms such as z/OS and VMS, and streaming.   Each platform typically has special needs and usually requires special ZIP standard support to fully implement cross-platform compatibility.   If a standard is imposed on the ZIP community without considering the future of development, the result may be bad for the ZIP community and force migration from the frozen ZIP format over time.   One reason ZIP has survived so long is it evolved as needs changed.   Another is the focus of developers on backward compatibility with older archives.

That said, we're open to a good discussion on ZIP format standardization, as long as it looks at both the plusses and minuses of the various standardization options, and we would like to at least monitor if not participate in that discussion as long as it's understood our participation is not to be taken as support for a standard.   We want to see where the discussions go before weighing in on that question.

Regards,\
Ed



>[!NOTE]
The text in this issue was sourced from [here](https://web.archive.org/web/20110223114515/http://www.info-zip.org/phpBB3/viewtopic.php?f=3&t=336)
